.footer {
  text-align: center;
  padding: 20px;
  background: #111;
  color: #fff;
}

.footer__content {
  max-width: 600px;
  margin: 0 auto;
  line-height: 1.5;
  white-space: normal;
}

@media screen and (min-width: 768px) {
  .footer {
    padding-top: 80px;
    padding-bottom: 18px;
    margin-left: auto;
    margin-right: auto;

    &__content {
      font-size: $medium-size;
    }
  }
}

@media screen and (min-width: 1024px) {
  .footer {
    padding-bottom: 19px;
    &__content {
      font-size: $medium-size;
    }
  }
}
